Squid Manager/Squid Manager.suo
Squid Manager/Squid Manager.v11.suo
Squid Manager/SquidManager/SquidManager.csproj.user
Squid Manager/SquidManager/bin/Debug/ConsoleApplication2.exe
Squid Manager/SquidManager/bin/Debug/ConsoleApplication2.pdb
Squid Manager/SquidManager/bin/Debug/InstallUtil.InstallLog
Squid Manager/SquidManager/bin/Debug/SquidManager.InstallLog
Squid Manager/SquidManager/bin/Debug/SquidManager.InstallState
Squid Manager/SquidManager/bin/Debug/SquidManager.exe
Squid Manager/SquidManager/bin/Debug/SquidManager.pdb
Squid Manager/SquidManager/bin/Debug/SquidManager.vshost.exe
Squid Manager/SquidManager/bin/Debug/SquidManager.vshost.exe.manifest
Squid Manager/SquidManager/bin/Debug/sqmgr_wcf_svc.dll
Squid Manager/SquidManager/bin/Debug/sqmgr_wcf_svc.pdb
Squid Manager/SquidManager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Squid Manager/SquidManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Manager/SquidManager/obj/Debug/SquidManager.csproj.FileListAbsolute.txt
Squid Manager/SquidManager/obj/Debug/SquidManager.csproj.GenerateResource.Cache
Squid Manager/SquidManager/obj/Debug/SquidManager.csprojResolveAssemblyReference.cache
Squid Manager/SquidManager/obj/Debug/SquidManager.exe
Squid Manager/SquidManager/obj/Debug/SquidManager.pdb
Squid Manager/selfhost/bin/Debug/ConsoleApplication2.exe
Squid Manager/selfhost/bin/Debug/ConsoleApplication2.pdb
Squid Manager/selfhost/bin/Debug/selfhost.exe
Squid Manager/selfhost/bin/Debug/selfhost.pdb
Squid Manager/selfhost/bin/Debug/selfhost.vshost.exe
Squid Manager/selfhost/bin/Debug/selfhost.vshost.exe.manifest
Squid Manager/selfhost/bin/Debug/sqmgr_wcf_svc.dll
Squid Manager/selfhost/bin/Debug/sqmgr_wcf_svc.pdb
Squid Manager/selfhost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Manager/selfhost/obj/Debug/selfhost.csproj.FileListAbsolute.txt
Squid Manager/selfhost/obj/Debug/selfhost.csprojResolveAssemblyReference.cache
Squid Manager/selfhost/obj/Debug/selfhost.exe
Squid Manager/selfhost/obj/Debug/selfhost.pdb
Squid Manager/selfhost/selfhost.csproj.user
Squid Manager/sqmgr/bin/Debug/ConsoleApplication2.exe
Squid Manager/sqmgr/bin/Debug/ConsoleApplication2.pdb
Squid Manager/sqmgr/bin/Debug/ConsoleApplication2.vshost.exe
Squid Manager/sqmgr/bin/Debug/ConsoleApplication2.vshost.exe.manifest
Squid Manager/sqmgr/obj/Debug/ConsoleApplication2.csproj.FileListAbsolute.txt
Squid Manager/sqmgr/obj/Debug/ConsoleApplication2.csprojResolveAssemblyReference.cache
Squid Manager/sqmgr/obj/Debug/ConsoleApplication2.exe
Squid Manager/sqmgr/obj/Debug/ConsoleApplication2.pdb
Squid Manager/sqmgr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Squid Manager/sqmgr/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Manager/sqmgr/obj/Debug/sqmgr.csproj.FileListAbsolute.txt
Squid Manager/sqmgr/obj/Debug/sqmgr.csprojResolveAssemblyReference.cache
Squid Manager/sqmgr_wcf_svc/bin/Debug/ConsoleApplication2.exe
Squid Manager/sqmgr_wcf_svc/bin/Debug/ConsoleApplication2.pdb
Squid Manager/sqmgr_wcf_svc/bin/Debug/sqmgr_wcf_svc.dll
Squid Manager/sqmgr_wcf_svc/bin/Debug/sqmgr_wcf_svc.pdb
Squid Manager/sqmgr_wcf_svc/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Squid Manager/sqmgr_wcf_svc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Manager/sqmgr_wcf_svc/obj/Debug/WcfConfigValidationData.tmp
Squid Manager/sqmgr_wcf_svc/obj/Debug/sqmgr_wcf_svc.csproj.FileListAbsolute.txt
Squid Manager/sqmgr_wcf_svc/obj/Debug/sqmgr_wcf_svc.csprojResolveAssemblyReference.cache
Squid Manager/sqmgr_wcf_svc/obj/Debug/sqmgr_wcf_svc.dll
Squid Manager/sqmgr_wcf_svc/obj/Debug/sqmgr_wcf_svc.pdb
Squid Manager/sqmgr_wcf_svc/sqmgr_wcf_svc.csproj.user
Squid Manager/sqmgrsvc/bin/Debug/sqmgrsvc.InstallLog
Squid Manager/sqmgrsvc/bin/Debug/sqmgrsvc.vshost.exe
Squid Manager/sqmgrsvc/bin/Debug/sqmgrsvc.vshost.exe.manifest
Squid Manager/sqmgrsvc/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Squid Manager/sqmgrsvc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Manager/sqmgrsvc/sqmgrsvc.csproj.user
Squid Monitor/.vs/
Squid Monitor/Squid Monitor.v11.suo
Squid Monitor/Squid Monitor/bin/Debug/Squid Monitor.exe
Squid Monitor/Squid Monitor/bin/Debug/Squid Monitor.pdb
Squid Monitor/Squid Monitor/bin/Debug/Squid Monitor.vshost.exe
Squid Monitor/Squid Monitor/bin/Debug/Squid Monitor.vshost.exe.manifest
Squid Monitor/Squid Monitor/obj/Debug/CoreCompileInputs.cache
Squid Monitor/Squid Monitor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Squid Monitor/Squid Monitor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Squid Monitor/Squid Monitor/obj/Debug/Squid Monitor.csproj.FileListAbsolute.txt
Squid Monitor/Squid Monitor/obj/Debug/Squid Monitor.csproj.GenerateResource.Cache
Squid Monitor/Squid Monitor/obj/Debug/Squid Monitor.csprojResolveAssemblyReference.cache
Squid Monitor/Squid Monitor/obj/Debug/Squid Monitor.exe
Squid Monitor/Squid Monitor/obj/Debug/Squid Monitor.pdb
Squid Monitor/Squid Monitor/obj/Debug/Squid_Monitor.SquidMonitor.resources
Squid Monitor/Squid Monitor/obj/Debug/TempPE/
