<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHTTPBinding" receiveTimeout="00:00:05" sendTimeout="00:00:05" maxBufferSize="1048576" maxReceivedMessageSize="1048576"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHTTPBinding" receiveTimeout="00:00:05" sendTimeout="00:00:05"/>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SquidManager.SquidManager">
        <clear />
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHTTPBinding"
          name="BasicHTTP" contract="SquidManager.ISquidManager" listenUriMode="Explicit"/>
        <endpoint binding="wsHttpBinding" bindingConfiguration="WSHTTPBinding"
          name="wsHTTP" contract="SquidManager.ISquidManager" listenUriMode="Explicit" address="/rest"/>
        <endpoint address="mex" binding="mexHttpBinding" name="Mex" contract="IMetadataExchange"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:5656/squid_manager/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpGetBinding="webHttpBinding" httpGetBindingConfiguration=""/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>